# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

# Environments
.venv/
venv/
env/
.cache/

# Editor settings
.idea/

# Local data and generated artifacts
data/raw/task1/*
!data/raw/task1/.gitkeep
data/raw/task2/*
!data/raw/task2/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/models/*
!outputs/models/.gitkeep
outputs/submissions/*
!outputs/submissions/.gitkeep
!outputs/submissions/README.md
!outputs/submissions/task1_logistic_regression_color_hog_additional_deep_efficientnet_v2_l_submission.csv
!outputs/submissions/task2_random_forest_hog_additional_deep_efficientnet_v2_l_submission.csv
outputs/*.csv
outputs/*.json

# System files
.DS_Store
